.jumbotron {
    background-image: url("../images/blue.jpg");
    /*background-color: #17234E;*/
    margin-bottom: 0;/*`enter code here`*/
    min-height: 30%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}